### The code below was used to gather the "Up to Top 10 Counties" per state using a recent (02-01-2022) daily county-level update
#### ("Top" counties were determined based on cumulative 'Confirmed' cases over the pandemic's duration)

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup, SoupStrainer
from datetime import date, datetime, timedelta

html = requests.get('https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports')

for link in BeautifulSoup(html.text, parse_only=SoupStrainer('a'), features="lxml"):
    if hasattr(link, 'href') and link['href'].endswith('02-01-2022.csv'):
        
        # Only add this file if new (i.e. not in database already)       
        url = 'https://github.com'+link['href'].replace('/blob/', '/raw/')
        df = pd.read_csv(url, sep=',', lineterminator='\n')
        break

In [2]:
states = ['Alaska','Alabama','Arkansas','Arizona','California','Colorado','Connecticut','District of Columbia',
      'Delaware','Florida','Georgia','Hawaii','Iowa','Idaho','Illinois','Indiana','Kansas','Kentucky',
      'Louisiana','Massachusetts','Maryland','Maine','Michigan','Minnesota','Missouri','Mississippi',
      'Montana','North Carolina','North Dakota','Nebraska','New Hampshire','New Jersey','New Mexico',
      'Nevada','New York','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina',
      'South Dakota','Tennessee','Texas','Utah','Virginia','Vermont','Washington','Wisconsin',
      'West Virginia','Wyoming']

In [3]:
df[(df['Country_Region'] == 'US')].shape

(3279, 14)

In [4]:
df2 = df[(df['Country_Region'] == 'US') & (~df['Lat'].isna()) & (df['Province_State'].isin(states)) & (~df['FIPS'].isna())]
df2.shape

(3118, 14)

In [5]:
df2.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
673,1001.0,Autauga,Alabama,US,2022-02-02 04:21:09,32.539527,-86.644082,14782,167,NaN,NaN,"Autauga, Alabama, US",26458.322146,1.129752
674,1003.0,Baldwin,Alabama,US,2022-02-02 04:21:09,30.727750,-87.722071,52881,614,NaN,NaN,"Baldwin, Alabama, US",23688.595823,1.161098
675,1005.0,Barbour,Alabama,US,2022-02-02 04:21:09,31.868263,-85.387129,5276,84,NaN,NaN,"Barbour, Alabama, US",21372.437819,1.592115
676,1007.0,Bibb,Alabama,US,2022-02-02 04:21:09,32.996421,-87.125115,6130,96,NaN,NaN,"Bibb, Alabama, US",27373.403590,1.566069
677,1009.0,Blount,Alabama,US,2022-02-02 04:21:09,33.982109,-86.567906,14096,207,NaN,NaN,"Blount, Alabama, US",24376.578010,1.468502

In [6]:
df2 = df2.groupby('Province_State').apply(lambda x: x.sort_values(['Confirmed'], ascending=False)).reset_index(drop=True).groupby('Province_State').head(10).reset_index()
print(df2.shape)
df2.head(20)

(478, 15)

,index,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,0,1073.0,Jefferson,Alabama,US,2022-02-02 04:21:09,33.555547,-86.895063,175899,2084,NaN,NaN,"Jefferson, Alabama, US",26709.111974,1.184771
1,1,1097.0,Mobile,Alabama,US,2022-02-02 04:21:09,30.784723,-88.208424,107652,1463,NaN,NaN,"Mobile, Alabama, US",26052.612473,1.359009
2,2,1089.0,Madison,Alabama,US,2022-02-02 04:21:09,34.763271,-86.550696,82918,809,NaN,NaN,"Madison, Alabama, US",22235.451544,0.975663
3,3,1117.0,Shelby,Alabama,US,2022-02-02 04:21:09,33.268798,-86.662326,56605,401,NaN,NaN,"Shelby, Alabama, US",26001.139172,0.708418
4,4,1003.0,Baldwin,Alabama,US,2022-02-02 04:21:09,30.727750,-87.722071,52881,614,NaN,NaN,"Baldwin, Alabama, US",23688.595823,1.161098
5,5,1101.0,Montgomery,Alabama,US,2022-02-02 04:21:09,32.220683,-86.209693,52550,814,NaN,NaN,"Montgomery, Alabama, US",23202.317141,1.549001
6,6,1125.0,Tuscaloosa,Alabama,US,2022-02-02 04:21:09,33.287261,-87.525568,51874,689,NaN,NaN,"Tuscaloosa, Alabama, US",24778.008646,1.328218
7,7,1081.0,Lee,Alabama,US,2022-02-02 04:21:09,32.601549,-85.351322,36379,286,NaN,NaN,"Lee, Alabama, US",22109.248702,0.786168
8,8,1103.0,Morgan,Alabama,US,2022-02-02 04:21:09,34.455006,-86.854759,33943,449,NaN,NaN,"Morgan, Alabama, US",28361.700883,1.322806
9,9,1015.0,Calhoun,Alabama,US,2022-02-02 04:21:09,33.774837,-85.826304,30215,556,NaN,NaN,"Calhoun, Alabama, US",26596.540645,1.840146
10,67,2020.0,Anchorage,Alaska,US,2022-02-02 04:21:09,61.149982,-149.142699,93006,468,NaN,NaN,"Anchorage, Alaska, US",32293.750000,0.503193
11,68,2170.0,Matanuska-Susitna,Alaska,US,2022-02-02 04:21:09,62.313050,-149.574174,31168,203,NaN,NaN,"Matanuska-Susitna, Alaska, US",28774.799893,0.651309
12,69,2090.0,Fairbanks North Star,Alaska,US,2022-02-02 04:21:09,64.807262,-146.569266,24559,124,NaN,NaN,"Fairbanks North Star, Alaska, US",25358.031575,0.504907
13,70,2122.0,Kenai Peninsula,Alaska,US,2022-02-02 04:21:09,60.244297,-151.538888,15200,92,NaN,NaN,"Kenai Peninsula, Alaska, US",25890.849629,0.605263
14,71,2050.0,Bethel,Alaska,US,2022-02-02 04:21:09,60.909805,-159.856183,8091,37,NaN,NaN,"Bethel, Alaska, US",44006.309148,0.457298
15,72,2110.0,Juneau,Alaska,US,2022-02-02 04:21:09,58.450318,-134.200436,7113,18,NaN,NaN,"Juneau, Alaska, US",22246.200038,0.253058
16,73,2150.0,Kodiak Island,Alaska,US,2022-02-02 04:21:09,57.655294,-153.749358,4350,10,NaN,NaN,"Kodiak Island, Alaska, US",33466.687183,0.229885
17,74,2180.0,Nome,Alaska,US,2022-02-02 04:21:09,64.903207,-164.035380,3899,3,NaN,NaN,"Nome, Alaska, US",38974.410236,0.076943
18,75,2185.0,North Slope,Alaska,US,2022-02-02 04:21:09,69.314792,-153.483609,3663,10,NaN,NaN,"North Slope, Alaska, US",37255.899105,0.273000
19,76,2188.0,Northwest Arctic,Alaska,US,2022-02-02 04:21:09,67.049192,-159.750395,3377,12,NaN,NaN,"Northwest Arctic, Alaska, US",44311.770109,0.355345

In [8]:
df2[df2.drop(columns=['Recovered', 'Active']).isna().any(axis=1)]

Empty DataFrame
Columns: [index, FIPS, Admin2, Province_State, Country_Region, Last_Update, Lat, Long_, Confirmed, Deaths, Recovered, Active, Combined_Key, Incident_Rate, Case_Fatality_Ratio]
Index: []

In [9]:
df2[['Admin2', 'Province_State']].to_csv('admin2_list.csv', index=False)

In [10]:
admin2_list = pd.read_csv('admin2_list.csv')

In [13]:
df2[['Admin2', 'Province_State']].equals(admin2_list)

True

In [11]:
admin2_list.values.shape

(478, 2)

In [12]:
admin2_list.head(20)

                  Admin2 Province_State
0              Jefferson        Alabama
1                 Mobile        Alabama
2                Madison        Alabama
3                 Shelby        Alabama
4                Baldwin        Alabama
5             Montgomery        Alabama
6             Tuscaloosa        Alabama
7                    Lee        Alabama
8                 Morgan        Alabama
9                Calhoun        Alabama
10             Anchorage         Alaska
11     Matanuska-Susitna         Alaska
12  Fairbanks North Star         Alaska
13       Kenai Peninsula         Alaska
14                Bethel         Alaska
15                Juneau         Alaska
16         Kodiak Island         Alaska
17                  Nome         Alaska
18           North Slope         Alaska
19      Northwest Arctic         Alaska

# Code for get_covid_data.py

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import requests
from bs4 import BeautifulSoup, SoupStrainer
from datetime import date, datetime, timedelta

path = '/Users/georgepappy/Documents/Metis/online_flex/Module7_DataEngineering/project_sandbox/'


##################
# The method/code below using BeautifulSoup to access
# all .csv files in a GitHub Repository is adapted from:
#
# https://stackoverflow.com/questions/69806371/combining-all-csv-files-from-github-repository-link-and-make-it-a-one-csv-file
##################


##################
# 1) Get State-wide Covid Data
##################

con = sqlite3.connect(path + 'covid.db')

# # Read in state population data
# states = pd.read_csv(path + 'states.csv')[['State', 'Pop2021']]
# states.columns = ['Province_State', 'pop2021']

# Get data from GitHub
html = requests.get('https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports_us')

# Check to see if state_data table exists and get most recent date of update
query = con.execute(
          """
              SELECT name FROM sqlite_master WHERE type="table" AND name="state_data";
          
          """).fetchone() 

if query != None:
    query = con.execute(
              """
                  SELECT MAX(Date) FROM state_data;
              
              """).fetchone()
    last_update = datetime.strptime(query[0].split()[0], "%Y-%m-%d").date()
else:
    # No table yet - set last_update variable way back in the past
    last_update = date(1980, 1, 1)
    
    # Also, create the table
    query = con.execute(
          """
              CREATE TABLE state_data( 
                    Id INTEGER PRIMARY KEY, 
                    Province_State TEXT,
                    Confirmed INTEGER,
                    Deaths INTEGER,
                    Incident_Rate REAL,
                    Case_Fatality_Ratio REAL,
                    Date DATE
              );
          """)
#     query = con.execute(
#               """
#                   CREATE TABLE state_data( 
#                         Id INTEGER PRIMARY KEY, 
#                         Province_State TEXT,
#                         Lat REAL,
#                         Long_ REAL,
#                         Confirmed INTEGER,
#                         Deaths INTEGER,
#                         Incident_Rate REAL,
#                         Case_Fatality_Ratio REAL,
#                         pop2021 INTEGER,
#                         Date DATE
#                   );
#               """)

    
# Fetch data from Johns Hopkins GitHub repository
for link in BeautifulSoup(html.text, parse_only=SoupStrainer('a'), features="lxml"):
    if hasattr(link, 'href') and link['href'].endswith('.csv'):
        
        # Only add this file if new (i.e. not in database already)
        if datetime.strptime(link["title"].replace(".csv", ""), "%m-%d-%Y").date() > last_update:     
            url = 'https://github.com'+link['href'].replace('/blob/', '/raw/')
            df = pd.read_csv(url, sep=',', lineterminator='\n')
            
            # Drop rows we're not interested in (e.g. The Cruise Ships with outbreaks, Minor Outlying US Territories)
            df = df[~df['Province_State'].isin(['Diamond Princess', 'Grand Princess', 'American Samoa', 'Recovered', 
                                                'Virgin Islands', 'Guam', 'Northern Mariana Islands', 'Puerto Rico'])]
            
            # Account for slight modifications to column nomenclature that occurred over time
            if 'Mortality_Rate' in df.columns:
                df.rename({'Mortality_Rate' : 'Case_Fatality_Ratio', 'People_Tested' : 'Total_Test_Results'}, axis=1, inplace=True)
    
            # Retain only columns of interest
            df = df.iloc[:, 0:14].drop(columns=['Country_Region', 'Last_Update', 'Lat', 'Long_', 'Recovered', 'Active', 
                                                'FIPS', 'Total_Test_Results', 'People_Hospitalized'])
            
            # Add 2021 population column
#             df = df.merge(states[['pop2021', 'Province_State']], how='left', on='Province_State')
            
            # Set date column to match filename of this .csv file
            df['Date'] = datetime.strptime(link["title"].replace(".csv", ""), "%m-%d-%Y").date()
            
            # Add NULL Id (Primary Key: Will autoincrement as unique integer on SQL insert)
            cols = df.columns
            df['Id'] = np.nan
            df = df[cols.insert(0, 'Id')]
            
            # insert data into database
            df.to_sql('state_data', con, if_exists='append', index=False)

##################


##################
# 2) Get County-wide Covid Data
##################

# Read in county population data
# counties = pd.read_csv(path + 'counties.csv', skiprows=4, sep='\t').reset_index()
# counties.columns = ['county', 'state', 'pop2021', 'pop2010', 'growth']

# # Drop District of Columnbia (County & "State" are same thing; 
# #    Johns Hopkins stopped adding County data for DC in August of 2020)
# counties = counties[~(counties['state'] == 'District of Columbia')]

# counties['county'] = counties['county'].apply(lambda x: x.replace(' County', ''))
# counties = counties[['county', 'state', 'pop2021']]
# counties['pop2021'] = counties['pop2021'].apply(lambda x: int(x.replace(',', '')))
# counties['Combined_Key'] = counties['county'] + ', ' + counties['state'] + ', US'

# Read in list of counties to use (Over 3200 US 'Admin2' entities per day listed in the files);
#   Not all are valid (or significant) counties; This list is filtered down to just U.S. rows 
#   associated w/ geographic coordinates (i.e. latitude value), located in the states (50+DC),
#   and which have a US government-designated 'FIPS' code; also, only the "Top 10" (or less if
#   there aren't 10) counties per state retained ("Top 10" based on cumulative 'Confirmed' cases
#   since pandemic start as of 2022-02-01); there are 478 counties in this list
counties = pd.read_csv('admin2_list.csv')
counties['new_key'] = counties['Admin2'] + '_' + counties['Province_State']

# Get data from GitHub
html = requests.get('https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports')

# Check to see if county_data table exists and get most recent date of update
query = con.execute(
          """
              SELECT name FROM sqlite_master WHERE type="table" AND name="county_data";
          
          """).fetchone() 

if query != None:
    query = con.execute(
              """
                  SELECT MAX(Date) FROM county_data;
              
              """).fetchone()
    last_update = datetime.strptime(query[0].split()[0], "%Y-%m-%d").date()
else:
    # No table yet - set last_update variable way back in the past
    last_update = date(1980, 1, 1)
    
    # Also, create the table
    query = con.execute(
          """
              CREATE TABLE county_data( 
                    Id INTEGER PRIMARY KEY,
                    Admin2 TEXT,
                    Province_State TEXT,
                    Confirmed INTEGER,
                    Deaths INTEGER,
                    Incident_Rate REAL,
                    Case_Fatality_Ratio REAL,
                    Date DATE
              );              
          """)
#     query = con.execute(
#               """
#                   CREATE TABLE county_data( 
#                         Id INTEGER PRIMARY KEY,
#                         Admin2 TEXT,
#                         Province_State TEXT,
#                         Lat REAL,
#                         Long_ REAL,
#                         Confirmed INTEGER,
#                         Deaths INTEGER,
#                         pop2021 INTEGER,
#                         Incident_Rate REAL,
#                         Case_Fatality_Ratio REAL,
#                         Date DATE
#                   );              
#               """)

for link in BeautifulSoup(html.text, parse_only=SoupStrainer('a'), features="lxml"):
    if hasattr(link, 'href') and link['href'].endswith('.csv'):
        
        # Only add this file if new (i.e. not in database already)
        if datetime.strptime(link["title"].replace(".csv", ""), "%m-%d-%Y").date() > last_update:        
            url = 'https://github.com'+link['href'].replace('/blob/', '/raw/')
            df = pd.read_csv(url, sep=',', lineterminator='\n')
            
            # Only process this df if it contains the 'Combined_Key' and either 'Incidence_Rate' or 'Incident_Rate' columns; 
            #   Otherwise, it's from very early in the pandemic (unfortunately, the schema evolved over time)
            if ('Combined_Key' in df.columns) and (('Incidence_Rate' in df.columns) or ('Incident_Rate' in df.columns)):
                
                # If column is named 'Incidence_Rate', rename 'Incident_Rate'
                if 'Incidence_Rate' in df.columns:
                    df.rename({'Incidence_Rate' : 'Incident_Rate'}, axis=1, inplace=True)
                    
                # Drop last column (for Case Fatality Ratio - has inconsistent naming; will re-compute this column below)
                df = df.iloc[:, 0:13]
                
                # Drop additional unwanted columns
                df = df.drop(columns=['Lat', 'Long_', 'Last_Update', 'FIPS', 'Country_Region', 'Recovered', 'Active', 'Combined_Key'])
                
                # Retain only rows for counties found in the counties list
                df['new_key'] = df['Admin2'] + '_' + df['Province_State']
                df = df.loc[df['new_key'].isin(counties['new_key'])].reset_index(drop=True).drop(columns='new_key')
            
                # Drop rows not associated with our list of US counties & retain only the columns of interest
#                 df = df[df['Combined_Key'].isin(counties['Combined_Key'])].iloc[:, 0:12] \
#                                           .drop(columns=['Last_Update', 'FIPS', 'Country_Region', 'Recovered', 'Active'])
                
                # Add 2021 population column
#                 df = df.merge(counties[['pop2021', 'Combined_Key']], how='left', on='Combined_Key').drop(columns='Combined_Key')

                
                # Compute 'population' (needed for 'Incident_Rate' & 'Case_Fatality_Ratio' calculations)
                #   Can be backed out of the Incident
#                 df['population'] = 100000* df['Confirmed'] / df['Incident_Rate']
            
                # Compute 'Case_Fatality_Ratio' 
                #  (schema/naming evolved over time, so we drop it above and compute from scratch here)
                df['Case_Fatality_Ratio'] = 100 * df['Deaths'] / df['Confirmed']
                
                # Set date column to match filename of this .csv file
                df['Date'] = datetime.strptime(link["title"].replace(".csv", ""), "%m-%d-%Y").date()
                
                # Add NULL Id (Primary Key: Will autoincrement as unique integer on insert)
                cols = df.columns
                df['Id'] = np.nan
                df = df[cols.insert(0, 'Id')]
            
                # drop data into database
                df.to_sql('county_data', con, if_exists='append', index=False)


con.close()

### The code below will sub in one (or two, three) days earlier or later than requested if the desired date has no data

In [26]:
import pandas as pd
import numpy as np
import sqlite3
from datetime import date, datetime, timedelta

path = '/Users/georgepappy/Documents/Metis/online_flex/Module7_DataEngineering/project_sandbox/tracker_1/'

con = sqlite3.connect(path + 'covid.db')

In [28]:
desired = '2020-04-23'
offsets = [0, 1, -1, 2, -2, 3, -3]

for n in range(len(offsets)):
    dt = (datetime.strptime(desired, '%Y-%m-%d').date() - timedelta(days=offsets[n])).strftime('%Y-%m-%d')
    print("SELECT * FROM state_data WHERE Date = '" + dt + "';")
    query = con.execute(
                        "SELECT * FROM state_data WHERE Date = '" + dt + "';"
                       ).fetchone()
    if query != None:
        break
    if n == 6:
        print('*******************************')
        print('ERROR: Missing Data in Database')
        print('*******************************')
query

SELECT * FROM state_data WHERE Date = '2020-04-23';

(8161,
 'Alabama',
 32.3182,
 -86.9023,
 5899,
 202,
 120.309553892011,
 3.424309204949992,
 4934193,
 '2020-04-23')

In [29]:
con.close()